body { 
   
    font-family: consolas;
}
.mine{
    width: fit-content;
}

h1{
    text-align:center;
    color: rgb(158, 158, 165);
}
#banner {
    width: 30%;
    height: 45%;
}

.location {
    color: grey;
}

#about {
    display: flex;
    max-width: 1050px;
    margin:0 auto;
    
}
#description {
    max-width: 50%;
}

#flower {
    width: 90%;
    
}
a {
    text-decoration: none;
}
#footer
{
    color: ghostwhite;
    padding-bottom: 15px;
    margin-top: -50px;
    text-align: center;
    padding-right: 100px;
    
}
#footer-links {
    list-style: none;
    text-align: center;
}
#footer-links li {
    display: inline;
    margin: 0 16px;
    padding-left:-120px;
}
#me
{
    padding-left: 40px;
}
#mek
{
    margin-top: 40px;
}
.copyright {
  text-align: center;
  padding-left: 690px;
}
#soke {
    text-align: center;
   border-collapse: collapse;
    width: 100%;
    }
    #todo {
    text-align: center;
}
#who {
    background-color: rgb(157, 181, 174);
}

#moke {
    text-align: center;
   border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    }
    #cook li{
        text-align:center;
        display: inline;
    }
    #cook {
        text-align: center;
        margin-bottom: 3px;
       
    }
    #he {
        text-align: center;
    }