.coloumn{
   height: 65px;
   width: 65px;
   border: 1.5px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
}
.row{
    border:2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(193,232,236,0.30310606991908173) 100%);}


#result-message{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size:2rem;
    padding-top: 30px;
}
